@import url("./__avatar/profile__avatar.css");
@import url("./__add/profile__add.css");
@import url("./__edit/profile__edit.css");

.profile {
  color: #fff;
  width: 70%;
  max-width: 882px;
  margin: 0 auto;
  padding: 40px 0 0;
  display: flex;
}
