@import url("./__logo/header__logo.css");

.header {
  width: 70%;
  max-width: 882px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: #545454 1px solid;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 80%;
  }
}

@media (min-width: 500px) and (max-width: 824px) {
  .header {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .header {
    width: 87.5%;
    padding: 28px 0 32px;
  }
}
