.pop-up__close {
  position: fixed;
  left: 1020px;
  top: 170px;
  cursor: pointer;
  background-image: url("./../../../images/close.svg");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-color: transparent;
  background-size: contain;
  border: none
}

.pop-up__close:hover {
  opacity: 60%;
  transition: 5s;
}

@media (min-width:430px) and (max-width: 500px) {
  .pop-up__close {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: 430px) {
  .pop-up__close {
    width: 20px;
    height: 20px;
    right: -20px;
    top: -20px;
  }
}
