@import url("./_filled/element__heart_filled.css");
@import url("./_empty/element__heart_empty.css");

.element__heart {
  height: 19px;
  width: 23px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 32px;
  right: 17px;
}

.element__heart:hover {
  opacity: 60%;
  transition: 5s;
}

@media (min-width: 700px) and (max-width: 824px) {
  .element__heart {
    top: 28px;
    right: 14px;
  }
}
