.profile__add {
background-color: #000;
margin: 20px 0 0 155px;
padding: 0;
height: 50px;
min-width: 150px;
border: 1px #fff solid;
cursor: pointer;
background-image: url("./../../../images/add.svg");
background-repeat: no-repeat;
background-position: center;
background-size: auto;
}

.profile__add:hover {
opacity: 60%;
transition: 1s;
}

@media (min-width: 500px) and (max-width: 824px) {
  .profile__add {
    grid-area: add;
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 500px)  {
  .profile__add {
    grid-area: add;
    margin: 0;
  }
}

@media  (max-width: 320px)  {
  .profile__add {
    grid-area: add;
    margin: 0;
  }
}
